.SimplePhotoBox-mainArea {
	display: inline-block;
	position: relative;
	/*border: 1px solid black;*/
	overflow: hidden;
	width: 150px;
	height: 120px;
	margin-bottom: -4px;
}

.SimplePhotoBox-deleteIcon {
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 2;
	color: red;
}

.SimplePhotoBox-photo {
	position: absolute;
	width: 125%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.SimplePhotoBox-photoLink {
	cursor: pointer;
}

@media screen and (max-width: 900px) {
.SimplePhotoBox-mainArea {
	width: 50vw;
	height: 40vw;
}
}