.Welcome-blackCanvas {
    position: absolute;
    height: calc(100vh - 100px);
    width: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.25;
}

.Welcome-mainPhotoBlock {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.Welcome-mainPhoto {
    position: absolute;
    min-width: 120%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    z-index: 0;
    opacity: 0;
}

.Welcome-slideText {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2em;
    text-align: center;
    color: #8e2256;
}

.Welcome-mainPhoto-1 {
    animation: mainPhotoShow 20s infinite;
}

.Welcome-mainPhoto-2 {
    animation: mainPhotoShow 20s infinite;
    animation-delay: 5s;
}

.Welcome-mainPhoto-3 {
    animation: mainPhotoShow 20s infinite;
    animation-delay: 10s;
}

.Welcome-mainPhoto-4 {
    animation: mainPhotoShow 20s infinite;
    animation-delay: 15s;
}

@keyframes mainPhotoShow {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    15% {
        opacity: 0.25;
    }
    30% {
        opacity: 0.25;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}