.MainFooter-footer {
	position: relative;
    width: 100%;
    height: 50px;
    /*background-color: #ffe9f3;*/
    background-color: #ffaec8;
    color: #d24e8d;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    z-index: 3;
}