.MainNavbar-navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: auto;
    text-align: center;
    line-height: 50px;
    /*background-color: #ffe9f3;*/
    background-color: #ffaec8;
    width: 100%;
    z-index: 3;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
}

.MainNavbar-navbarFixed {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: auto;
    text-align: center;
    line-height: 50px;
    /*background-color: rgba(50, 50, 50, 0.22);*/
    /*background-color: #ffe9f3;*/
    background-color: #ffaec8;
    width: 100%;
    z-index: 3;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
}

.MainNavbar-navbarItem {
    color: #d24e8d;
    display: inline-block;
    font-size: 1.2em;
    font-family: monospace;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.MainNavbar-navbarItem:hover {
    color: white;
    border-bottom: 5px solid white;
}

.MainNavbar-navbarItemCollapse {
    color: #d24e8d;
    display: none;
    width: 80px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.MainNavbar-navbarItemCollapse:hover {
    color: white;
    border-bottom: 5px solid white;
}

@media screen and (max-width: 800px) {

.MainNavbar-navbarItem {
    display: none;
}

.MainNavbar-navbarItemCollapse {
    display: inline-block;
}

}
